<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy/MM/dd hh:mm:ss:sss z}] %t %5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="ostarAnalysisFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/ostar-analysis/ostar-analysis.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy/MM/dd hh:mm:ss:sss z}] %t %5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ostarAnalysisFileAppender"/>
    </root>
</log4j:configuration>